@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--green);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/*navbar*/
.navbarNav {
    justify-content: end;
}

.navbar {
    position: relative;
    padding: 15px 100px;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

#menu-btn {
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
    display: none;
}

.navbar .navbar-brand {
    font-size: 25px;
    color: #16a085;
}

.navbar li a {
    color: var(--light-color);
    font-size: 16px;
}

/*drobdown*/
.reponsive-drop {
    border: 1px solid var(--green);
    font-size: 20px;
    width: 100%;
    color: white;
    text-align: center;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    background-color: white;
    box-shadow: var(--box-shadow);
    position: absolute;

}

.reponsive-drop li a {
    color: var(--light-color);
}

#menu-btn.fa-times {
    transform: rotate(180deg);
}

/*home section*/
.image img {
    width: 75%;
    margin-left: 10rem;
    margin-top: 1rem;
}

#home {
    width: 100%;
    height: 87vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h3 {
    font-size: 3rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.content p {
    font-size: 1rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.content .btn {
    border: 1px solid var(--green);
}


/*icon-container*/
.icons-container {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    background: #eee;
}

.icons-container .icons {
    border: ;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 4px 6px -1px, rgba(0, 0, 0, 0.527) 0px 2px 4px -1px;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    background-color: #fff;

}

.icons-container .icons i {
    font-size: 3rem;
    color: var(--green);
    padding-bottom: 1rem;
}

.icons-container .icons h3 {
    font-size: 3rem;
    color: var(--black);
    padding: 1rem;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p {
    font-size: rem;
    color: var(--light-color);
}

/*ourservice section*/
    .our-service{
        padding: 20px 10rem;
    }
.our-service h1{
   text-align: center;
   padding: 20px;
   text-shadow: var(--text-shadow);
   font-weight: 700;
}
.our-service-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 2rem;

}
.our-service-box{
    text-align: center;
    border: 2px solid var(--green);
    padding: 30px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.our-service-box i{
    color: #16a085;
font-size: 3.2rem;
padding-bottom: 0.5rem;
}
.our-service-box h3{
color: var(--black);
}
.our-service-box p{
color: var(--light-color);
font-size: 1rem;
padding-top: 5px;
}

.our-service-box span{
    padding-left: 5px;
}
.our-service-box .btn{
    font-size: 1rem;
    border: 1px solid var(--green);
}


/*about*/
.about{
    background-color:rgba(128, 128, 128, 0.205);
    padding: 10px;
}
.about h1{
    padding: 20px;
    text-align: center;
    font-weight: 700;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*our doctors*/
.our-doctors h1{
padding: 20px;
text-align: center;
font-weight: 700;
text-shadow: var(--box-shadow);
}
.our-doctors-box-container{
display:grid ;
grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
gap: 2rem;
padding: 10px 6rem;
}
.our-doctors-box-container .doctor-box{
    border:1px solid #16a085;
    text-align: center;
    padding: 20px 0px;
}

.our-doctors-box-container .doctor-box img{
height: 180px;
padding-bottom: 5px;
}
.our-doctors-box-container .doctor-box .doctor-icons{

} 
.our-doctors-box-container .doctor-box .doctor-icons a{
    padding: 5px 5px;
    font-size: 1.8rem;
}













@media (max-width:991px) {

    /*navbar*/
    .navbarNav {
        justify-content: end;
    }

    .navbar {
        padding: 15px 40px !important;
        background: #fff;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);

    }

    #menu-btn {
        color: var(--green);
        cursor: pointer;
        font-size: 1.7rem;
        background: #fff;
        display: block;
    }

    .navbar .navbar-brand {
        font-size: 22px !important;
        color: #16a085;
    }

    .navbar li a {
        color: var(--light-color);
        font-size: 16px;
    }

    /*drobdown*/
    .reponsive-drop {
        border: 1px solid var(--green);
        font-size: 18px;
        width: 100%;
        color: white;
        text-align: center;

    }

    .active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }



    /*home section*/
    .image img {
        width: 90%;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    #home {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    /*icon section*/
    .content h3 {
        font-size: 3rem;
        line-height: 1.8;

    }

    .content p {
        font-size: 1rem;
        color: var(--light-color);
        line-height: 1.8;
        padding: 1rem 0;
    }

    .content {
        text-align: center;
    }

}











@media (max-width:768px) {

    /*home section*/

    #home {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 0 10px;
    }

    #home {

        height: 92vh;

    }

    .image img {
        width: 90%;
        margin-left: 0rem;
    }


    /*icon container*/
    .icons-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

    }




    .our-service{
        padding: 20px 1rem;
    }



   

    
/*about*/
.about{
    background-color:rgba(128, 128, 128, 0.205);
    padding: 10px;
}
.about h1{
    padding: 20px;
    text-align: center;
    font-weight: 700;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr;
}

}






@media (max-width:480px) {

    /*home section*/
    /*home section*/
    .image {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .content-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: -65px;
    }

    .content h3 {
        line-height: 1.3;

    }

    #home {
        width: 100%;
        grid-template-columns: 1fr;
        height: 110vh;

    }

}
